{%- case block.type -%}
  {%- when 'short_des' -%}
    <p class="short-des" {{ block.shopify_attributes }}>{{ block.settings.short_des }}</p>
  {%- when 'benifits_list' -%}
    <div class="benifits-list">
      <h3 class="benifits-list-title">{{ blocks.settings.title }}</h3>
      <ul class="benifits-list-item">
        {% for i in (1..10) %}
        {% endfor %}

        <li>{{ block.settings.list_item }}</li>
      </ul>
    </div>
{% endcase %}
