span.star-count {
    display: flex;
    align-items: center;
    gap: 2px;
}

.review-blocks {
    display: flex;
    align-items: center;
    gap: 10px;
}

.review-blocks .review-text {
    color: #002A46;
    font-family: "Neue Haas Grotesk Display Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0.64px;
}

.product__title h1 {
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 47px;
    font-style: normal;
    font-weight: 600;
    line-height: 47px;
}


p.short-des {
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.54px;
}

ul.benifits-list-item {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    row-gap: 20px;
    column-gap: 10px;
}
ul.benifits-list-item li img {
    width: 30px;
    height: 30px;
    aspect-ratio: 1/1;
}

ul.benifits-list-item li {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #1A1818;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18.2px;
    letter-spacing: -0.42px;
}

h3.benifits-list-title {
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.54px;
}

.icon-row {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.icon-item img {
    display: block;
    margin: auto;
    width: 35px;
    height: 35px;
    aspect-ratio: 1 / 1;
    margin-bottom: 8px;
}

p.icon-title {
    margin: 0;
    color: #000;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.48px;
}



my-accordion .accordion-item + .accordion-item {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

my-accordion .accordion-header {
  padding: 14px 0;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: space-between;
}

my-accordion .accordion-header h3 {
    margin: 0;
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.63px;
}

my-accordion .accordion-header > * {
  margin: 0;
}
.acc-icon span {
  display: flex;
  transition: o.3s;
  align-items: center;
}
.acc-icon .icon-minus {
  display: none;
}
.accordion-item.active span.icon-minus {
  display: flex;
}
.accordion-item.active span.icon-plus {
  display: none;
}


my-accordion .accordion-content {
color: #000;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 22.4px */
letter-spacing: -0.48px;
}

.accordion-content ul {
  padding: 0 0 0 25px;
}


.testimonial-video video {
    width: 100%;
}

.testimonial-video {
    border-radius: 15px;
    overflow: hidden;
}