span.star-count {
    display: flex;
    align-items: center;
    gap: 2px;
}

.review-blocks {
    display: flex;
    align-items: center;
    gap: 10px;
}

.review-blocks .review-text {
    color: #002A46;
    font-family: "Neue Haas Grotesk Display Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0.64px;
}

.product__title h1 {
    color: #000;
     font-family: "Montserrat", sans-serif;
    font-size: 47px;
    font-style: normal;
    font-weight: 600;
    line-height: 47px;
}


p.short-des {
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.54px;
}